.bottom {
  max-width: 1920px;
  min-width: 920px;
  background-image: url(../Resources/image3.png);
  height: 65vh;
  background-size: 1950px auto;
  background-position: 110% 53%;
}

.bottom__header {
  height: 40px;
  background-color: #414f6b;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.bottom__header-1 {
  font-size: 20px;
  text-decoration: underline;
  color: #414f6b;
  font-weight: 700;
  font-family: "Oswald";
  background-color: #b0b4be;
  padding: 9px;
  margin-left: 20vw;
  margin-right: 1vw;
}
.bottom__header-2 {
  font-size: 20px;
  color: #b0b4be;
  font-weight: 700;
  font-family: "Oswald";
}

.bottom__footer {
  background-color: #414f6b;
  margin-top: 25vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom__footer-left {
  display: flex;
  margin-top: 10px;
}

.bottom__footer-leftText {
  font-size: 21px;
  letter-spacing: 0px;
  line-height: 23px;
  text-transform: uppercase;
  color: #63769d;
  font-family: "Bebas";
  margin-left: 10px;
}

.bottom__footer-leftText > p {
  margin-block: 0;
}

.bottom__footer-right {
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 20px;
  text-transform: uppercase;
  color: #63769d;
  font-weight: 900;
  font-style: italic;
  font-family: "Lato";
  margin-right: 20vw;
}

.schedule {
  min-width: 350px;
  opacity: 0.702;
  width: 20vw;
  height: 229px;
  background-color: #ffffff;
  margin-left: 21.8vw;
  margin-top: 9vw;
  display: flex;
  flex-direction: column;
  align-items: inherit;
}

.schedule > h1 {
  font-size: 32px;
  color: #414f6b;
  font-weight: 700;
  font-family: "Oswald";
  margin: 1vw;
  align-self: flex-start;
}

.schedule > p {
  /* width: 361px; */
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  font-weight: 300;
  font-family: "Lato";
  margin-block: 0;
  display: flex;
}

.schedule__span1 {
  margin-left: 1vw;
  min-width: 10vw;
  width: 110px;
}
.schedule__span2 {
  /* margin-left: 3vw; */
}

@media only screen and (max-width: 1500px) {
  .bottom {
    background-image: url(../Resources/image3.png);
    height: 65vh;
    background-size: 1400px auto;
    background-position: 70% 53%;
  }
}
